body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.header__label,
.footer__label {
  text-align: center;
}

.footer__label {
  margin-top: 50px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title,
.stack,
.github {
  padding: 0px 5%;
}

.title {
  margin-top: 0;
}

.stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  margin-top: 40px;
}

.badge {
  background-color: lightseagreen;
  color: white;
  border-radius: 4px;
  padding: 5px;
}

.github {
  margin-top: 12px;
}

.github a {
  text-decoration: none;
  color: #3550ff;
}

.swiper {
  max-width: 1200px;
  width: 90%;
  height: 500px;
}

@media (max-width: 1023px) {
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination {
    display: none !important;
  }
}
